---
import PatternLink from "./PatternLink.astro";

interface Props {
  icon: string;
  title: string;
  description: string;
  imageSrc: string;
  imageAlt: string;
  href: string;
  imageWidth: string;
  imageHeight: string;
}

const { icon, title, description, imageSrc, imageAlt, href, imageWidth, imageHeight } = Astro.props;
---

<div class="pattern-card">
  <div class="card-header">
    <div class="pattern-icon">{icon}</div>
    <h3>{title}</h3>
  </div>
  <p>{description}</p>
  <div class="pattern-demo">
    <img src={imageSrc} alt={imageAlt} class="demo-image" width={imageWidth} height={imageHeight} />
  </div>
  <PatternLink href={href} />
</div>
